{% extends 'base.html' %}

{% block title %}
<title>Company</title>
{% endblock%}


{% block content %}
<div class="container">
    <h1>City Bike API</h1>
    {% for key, value in company_network.iteritems %}
        {% if key == 'license'%}
            <h6>License URL: <a href="{{ value.url }}">{{ value.url }}<a></h6>
            <h6>License Type: {{ company_network.license.name }}</h6>
        {% elif key == 'name' %}
        <h1>{{value}}</h1>
        {% else %}
            <h6>{{ key.title }}: {{ value }}</h6>
        {% endif %}
        <h2>Stations</h2>
        {% for bike_station in stations %}
            <h4>{{bike_station.name}}</h4>
            <h6>Address: {{bike_station.extra.address}}</h6>
            <h6>Latitude: {{bike_station.latitude}}</h6>
            <h6>Longitude: {{bike_station.longitude}}</h6>
            <h6>Free Bikes: {{bike_station.free_bikes}}</h6>
            <h6>Empty Slots: {{bike_station.empty_slots}}</h6>
            <h6>Renting: {{bike_station.extra.renting}}</h6>
            <h6>Returning: {{bike_station.extra.returning}}</h6>
            <h6>Last Updated: {{bike_station.extra.last_updated}}</h6>
            <h6>ID: {{bike_station.id}}</h6>
            <h6>uID: {{bike_station.extra.uid}}</h6>
            <br>
        {% endfor %}
    {% endfor %}
    <br>
</div>
{% endblock %}