{% extends 'base.html' %}

{% block title %}
<title>Company</title>
{% endblock%}


{% block content %}
<div class="container">
    <h1>City Bike API</h1>
    {% for bikeshare in network %}
        <h6>{{ bikeshare.name }}</h6>
    {% endfor %}
    <h6>{{ network.name }}</h6>
    <a href="{{network.license.url}}"><h6>{{ network.license.url }}</h6></a>
    <h6>License Type: {{network.license.name}}</h6>
    {% for key, value in station.iteritems %}
        {% if key == 'extra'%}
            <h6>{{ key.title }}</h6>
            {% for key, value in value.iteritems %}
                <h6>{{ key.title }}: {{ value }}</h6>
            {% endfor %}
        <h6>{{ key.title }}: {{ value }}</h6>
        {% else %}
        <h6>{{ key.title }}: {{ value }}</h6>
        {% endif %}
    {% endfor %}
    <h6>Stations: {{ station }}</h6>
    <h6>{{ network }}</h6>
</div>
{% endblock %}