{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock%}


{% block content %}
<div class="container">
    <h1>City Bike API</h1>
    <br>
    {% for network in network_list %}
    <h2><a href="/company/{{ network.id.title }}">{{ network.name.title }}</a></h2>
    <h6>Company: {{ network.company.0 }}</h6>
    <h6>Href: {{ network.href }}</h6>
    <h6>ID: {{ network.id }}</h6>
    {% for key, value in network.location.iteritems %}
    <h6>{{ key.title }}: {{ value }}</h6>
    {% endfor %}
    <br>
    {% endfor %}
    <br>
</div>
{% endblock %}